@use "../../styles/partials/fonts";
@use "../../styles/partials/config";
@use "../../styles/partials/lightswitch";
@use "../../styles/partials/main";
@use "../../styles/partials/loader";
@use "../../styles/partials/notification";


.croper {
	--show: flex;
	--opacity: 0;

	position: relative;
	margin-top: 2rem;

	&__images {
		
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 2rem;

		// &__options {
		// 	display: flex;
		// 	gap: 2rem;
		// 	width: 100%;
		// 	// height: 2rem;
		// 	// background-color: red;
		// 	position: relative;


		// 	& > select {
		// 		flex-grow: 1;
		// 		width: 50%;
		// 		appearance: none;
		// 		-webkit-appearance: none;
		// 		font-size: 1.5rem;
		// 		font-weight: 700;
		// 		height: 3rem;
		// 		background-color: var(--bg-part);
		// 		color: var(--fg);
		// 		border: none;
		// 		cursor: pointer;
		// 		text-align: center;
		// 		box-shadow: var(--shadow);
		// 		position: relative;

		// 		background-image: var(--dropdown);
		// 		background-size: 1.5rem;
		// 		background-repeat: no-repeat;
		// 		background-position: right 1rem center;
		// 		// back
		// 		// &:invalid {
		// 		// 	border: 1px solid red;
		// 		// }

		// 	}


		// }

		&__box {
			position: relative;
			flex-basis: 0;
			min-width: 0;
			background-color: var(--bg-part);
			box-shadow: var(--shadow);
			overflow: hidden;
			touch-action: none;
			user-select: none;
			-webkit-user-drag: none;
			cursor: grab;
			cursor: -webkit-grab;

			&:active,
			&:has(*:active) {
				cursor: grabbing;
				cursor: -webkit-grabbing;
			}

			&.zooming-in  { cursor: zoom-in; }
			&.zooming-out { cursor: zoom-out; }

			&.box--2-3 {
				aspect-ratio: 2 / 3;
				flex: 8 1 0;
			}

			&.box--5-4 {
				aspect-ratio: 5 / 4;
				flex: 15 1 0;
			}

			> img {
				position: absolute;
				top: 0;
				left: 0;
				transform-origin: 0 0;
				will-change: transform;
				max-width: none;
				pointer-events: none;
				-webkit-user-drag: none;
			}

		}

	}


	&__button {
		display: flex;
		margin-top: 2rem;
		gap: 2rem;
		
		& > button:nth-child(1) { flex: 15 1 0; }
		& > button:nth-child(2) { flex: 8 1 0; }

		& > button {
			appearance: none;
			-webkit-appearance: none;
			font-size: 2rem;
			font-weight: 700;
			// width: 100%;
			height: 4rem;
			background-color: var(--bg-part);
			color: var(--fg);
			border: none;
			cursor: pointer;
			transition: transform 100ms;
			box-shadow: var(--shadow);

			flex-basis: 0;
			min-width: 0;

			&:hover {
				transform: scale(1.01) translateY(-0.1rem);
			}

			&:active {
				transform: translateY(0);
			}

			&:disabled {
				color: var(--fg-alpha);
				pointer-events: none;
			}
		}
	}

	&:hover:has(:not(.croper__splash.show)) {
		--show: none;
	}

	&__splash {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg-part);
		border: 0.4rem dashed var(--fg-alpha);
		color: var(--fg-alpha);
		display: var(--show);
		opacity: var(--opacity);
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 2.3rem;
		font-weight: 700;
		cursor: pointer;

		&:hover,
		&.dragover {
			color: var(--fg);
			border-color: var(--fg);
			opacity: 1;
		}

		&.show {
			--show: flex;
			--opacity: 1;
		}
	}

	&__loader {
		position: absolute;
		top: 0rem;
		left: 0rem;
		width: 100%;
		height: 100%;
		display: flex;
		visibility: hidden;
		align-items: center;
		justify-content: center;
		transition:
			visibility 150ms,
			opacity 150ms;


		// transition-property: visibility opacity;
		// transition-duration: 150ms;
		opacity: 0;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--bg);
			opacity: 0.9;
		}

		&.show {
			visibility: visible;
			opacity: 0.8;
			.loading-double-circular {
				--state: running;
			}
		}

		.loading-double-circular {
			--color: var(--accent);
			--size: 10rem;
			--border: 5;
			--duration: 2.5s;
			--steps: 2;
			--state: paused;
			position: relative;
			margin: 0;
			filter: drop-shadow(0 0 0.4rem var(--fg-alpha));
		}
	}


	.screenpass {
		position: absolute;
		inset: 0;
		// top: 0rem;
		// left: 0rem;
		// width: 100%;
		// height: 100%;
		display: flex;
		visibility: hidden;
		align-items: center;
		justify-content: center;
		opacity: 0;
		background-color: var(--bg-part);
		border: 0.4rem dashed var(--fg-alpha);
		
		transition:
			opacity 500ms,
			visibility 500ms; 
		// color: var(--fg-alpha);


		&.show {
			visibility: visible;
			opacity: 1;
		}

		& > div {
			display: flex;
			flex-direction: column;

			& > div {
				// background-color: purple;
				text-align: center;
			}

			& > form {
				// background-color: red;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;


				input[type="password"] {
					margin-top: 1rem;
					text-align: center;
					font-size: 2rem;
					width: 19rem;
				}
				input[type="submit"] {
					margin-top: 1rem;
					text-align: center;
					font-size: 1.5rem;
					width: 19rem;
					padding: 0.2rem 0.5rem;
				}
			}
		}
	}


	&__results {
		position: absolute;
		top: 0rem;
		left: 0rem;
		width: 100%;
		height: 100%;
		display: none;
		align-items: center;
		justify-content: center;
		background-color: var(--bg-part);
		flex-direction: column;
		user-select: none;

		&.show {
			display: flex;
		}

		&__winner {
			width: 10rem;
			aspect-ratio: 1/1;
			// background-color: red;
			background-image: var(--winner);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&__congrats {
			font-size: 3rem;
			font-weight: 800;
		}

		&__text {
			text-align: center;
			max-width: 40rem;
		}

		&__browse,
		&__copy {
			appearance: none;
			-webkit-appearance: none;
			font-size: 1.6rem;
			font-weight: 700;
			height: 3.2rem;
			width: 14rem;
			background-color: var(--fg-alpha);
			color: var(--fg);
			border: none;
			cursor: pointer;
			transition: transform 100ms;
			box-shadow: var(--shadow);
			padding: 0 1rem;
			margin: 1rem 1rem 0 1rem;

			&:hover {
				transform: scale(1.01) translateY(-0.1rem);
			}

			&:active {
				transform: translateY(0);
			}
		}

	}

}







body::before {
	$aspect-width: 8;
	$aspect-height: 5;
	$fade-lines: 4;

	$offset-width: calc(100% / $aspect-width);
	$offset-height: calc(100% / $aspect-height);
	$denom-width: calc($offset-width / (100% - $offset-width) * 100%);
	$denom-height: calc($offset-height / (100% - $offset-height) * 100%);
	$mask-fade: calc(100% - ($denom-height * $fade-lines));
	--mask: linear-gradient(to bottom, black 0, black #{$mask-fade}, transparent 100%);

	content: '';
	aspect-ratio: #{$aspect-width}/#{$aspect-height};
	background-size: #{$offset-width} #{$offset-height};
	background-image:
		var(--circle-1), var(--circle-2), var(--circle-1),
		var(--circle-1), var(--circle-2), var(--circle-1), var(--circle-2), var(--circle-2),
		var(--circle-1), var(--circle-2), var(--circle-2), var(--circle-1),
		var(--circle-2), var(--circle-1), var(--circle-1), var(--circle-1), var(--circle-1),
		var(--circle-1), var(--circle-2), var(--circle-2), var(--circle-1);
		
	background-position:
		// ligne 1 
		0% 0%,
		#{calc(1 * $denom-width)} 0%,
		#{calc(6 * $denom-width)} 0%,
		
		// ligne 2
		0% #{calc(1 * $denom-height)},
		#{calc(2 * $denom-width)} #{calc(1 * $denom-height)},
		#{calc(4 * $denom-width)} #{calc(1 * $denom-height)},
		#{calc(6 * $denom-width)} #{calc(1 * $denom-height)},
		#{calc(7 * $denom-width)} #{calc(1 * $denom-height)},

		// ligne 3
		#{calc(1 * $denom-width)} #{calc(2 * $denom-height)},
		#{calc(2 * $denom-width)} #{calc(2 * $denom-height)},
		#{calc(5 * $denom-width)} #{calc(2 * $denom-height)},
		#{calc(6 * $denom-width)} #{calc(2 * $denom-height)},

		// ligne 4
		0% #{calc(3 * $denom-height)},
		#{calc(1 * $denom-width)} #{calc(3 * $denom-height)},
		#{calc(3 * $denom-width)} #{calc(3 * $denom-height)},
		#{calc(5 * $denom-width)} #{calc(3 * $denom-height)},
		#{calc(7 * $denom-width)} #{calc(3 * $denom-height)},

		// ligne 5
		0% #{calc(4 * $denom-height)},
		#{calc(3 * $denom-width)} #{calc(4 * $denom-height)},
		#{calc(5 * $denom-width)} #{calc(4 * $denom-height)},
		#{calc(7 * $denom-width)} #{calc(4 * $denom-height)};

}
