* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    overscroll-behavior: contain;
    font-size: var(--font-size);

    &.is-busy,
    &.is-busy * {
        cursor: wait !important;
        pointer-events: none !important;
    }

    &.is-working,
    &.is-working * {
        cursor: progress !important;
        pointer-events: none !important;
    }
}


body {
    position: relative;
    color: var(--fg);
    background-color: var(--bg);
    overflow-x: hidden;
    // overflow: hidden;

    transition:
        background-color var(--scheme-transition-duration),
        color var(--scheme-transition-duration);

    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    min-height: 100dvh;

    &::before {
        $aspect-width: 8;
        $aspect-height: 10;
        $fade-lines: 4;

        $offset-width: calc(100% / $aspect-width);
        $offset-height: calc(100% / $aspect-height);
        $denom-width: calc($offset-width / (100% - $offset-width) * 100%);
        $denom-height: calc($offset-height / (100% - $offset-height) * 100%);
        
        --offset-width: #{$offset-width};
        --offset-height: #{$offset-height};
        --denom-width: #{$denom-width};
        --denom-height: #{$denom-height};
        --mask: linear-gradient(to bottom, black 0, black calc(100% - calc(var(--denom-height) * #{$fade-lines})), transparent 100%);

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        // inset: 0;
        width: 100%;
        aspect-ratio: #{$aspect-width}/#{$aspect-height};
        transition: background-image var(--scheme-transition-duration);
        -webkit-mask-image: var(--mask);
        mask-image: var(--mask);
        z-index: -1;
        // background-color: red;
        // back
        background-repeat: no-repeat;
        // background-color: var(--sky-color);
        background-size: var(--offset-width) var(--offset-height);
        background-image:
            var(--circle-1), var(--circle-2), var(--circle-1),
            var(--circle-1), var(--circle-2), var(--circle-1), var(--circle-2), var(--circle-2),
            var(--circle-1), var(--circle-2), var(--circle-2), var(--circle-1),
            var(--circle-2), var(--circle-1), var(--circle-1), var(--circle-1), var(--circle-1),
            var(--circle-1), var(--circle-2), var(--circle-2), var(--circle-1),
            var(--circle-2), var(--circle-2), var(--circle-1), var(--circle-1), var(--circle-2),
            var(--circle-1), var(--circle-2), var(--circle-1),
            var(--circle-2), var(--circle-1), var(--circle-2), var(--circle-2),
            var(--circle-2), var(--circle-1), var(--circle-2),
            var(--circle-1), var(--circle-1), var(--circle-2), var(--circle-1), var(--circle-1), var(--circle-2);
        
        background-position:
            // ligne 1 
            0% 0%,
            calc(1 * var(--denom-width)) 0%,
            calc(6 * var(--denom-width)) 0%,
            
            // ligne 2
            0% calc(1 * var(--denom-height)),
            calc(2 * var(--denom-width)) calc(1 * var(--denom-height)),
            calc(4 * var(--denom-width)) calc(1 * var(--denom-height)),
            calc(6 * var(--denom-width)) calc(1 * var(--denom-height)),
            calc(7 * var(--denom-width)) calc(1 * var(--denom-height)),

            // ligne 3
            calc(1 * var(--denom-width)) calc(2 * var(--denom-height)),
            calc(2 * var(--denom-width)) calc(2 * var(--denom-height)),
            calc(5 * var(--denom-width)) calc(2 * var(--denom-height)),
            calc(6 * var(--denom-width)) calc(2 * var(--denom-height)),

            // ligne 4
            0% calc(3 * var(--denom-height)),
            calc(1 * var(--denom-width)) calc(3 * var(--denom-height)),
            calc(3 * var(--denom-width)) calc(3 * var(--denom-height)),
            calc(5 * var(--denom-width)) calc(3 * var(--denom-height)),
            calc(7 * var(--denom-width)) calc(3 * var(--denom-height)),

            // ligne 5
            0% calc(4 * var(--denom-height)),
            calc(3 * var(--denom-width)) calc(4 * var(--denom-height)),
            calc(5 * var(--denom-width)) calc(4 * var(--denom-height)),
            calc(7 * var(--denom-width)) calc(4 * var(--denom-height)),

            // ligne 6
            0% calc(5 * var(--denom-height)),
            calc(1 * var(--denom-width)) calc(5 * var(--denom-height)),
            calc(2 * var(--denom-width)) calc(5 * var(--denom-height)),
            calc(3 * var(--denom-width)) calc(5 * var(--denom-height)),
            calc(6 * var(--denom-width)) calc(5 * var(--denom-height)),

            // ligne 7
            calc(1 * var(--denom-width)) calc(6 * var(--denom-height)),
            calc(3 * var(--denom-width)) calc(6 * var(--denom-height)),
            calc(5 * var(--denom-width)) calc(6 * var(--denom-height)),

            // ligne 8
            0% calc(7 * var(--denom-height)),
            calc(2 * var(--denom-width)) calc(7 * var(--denom-height)),
            calc(4 * var(--denom-width)) calc(7 * var(--denom-height)),
            calc(7 * var(--denom-width)) calc(7 * var(--denom-height)),

            // ligne 9
            calc(2 * var(--denom-width)) calc(8 * var(--denom-height)),
            calc(5 * var(--denom-width)) calc(8 * var(--denom-height)),
            calc(6 * var(--denom-width)) calc(8 * var(--denom-height)),

            // ligne 10
            0% calc(9 * var(--denom-height)),
            calc(1 * var(--denom-width)) calc(9 * var(--denom-height)),
            calc(3 * var(--denom-width)) calc(9 * var(--denom-height)),
            calc(4 * var(--denom-width)) calc(9 * var(--denom-height)),
            calc(6 * var(--denom-width)) calc(9 * var(--denom-height)),
            calc(7 * var(--denom-width)) calc(9 * var(--denom-height));
    }

}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    height: 12rem;
    width: 100%;
    max-width: var(--font-size-break);
    margin: 4rem auto 2rem auto;

    a {
        background: none;
        display: block;
        display: flex;
        flex-direction: row;

    }

    h1 {
        width: 100%;
        max-width: var(--font-size-break);
        margin: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        user-select: none;
        transition: color var(--scheme-transition-duration);
        // font-weight: normal;

        & > :first-child {
            display: flex;
            flex-grow: auto;
            justify-content: center;
            flex-direction: column;
            padding-left: 1rem;

            & > :first-child {
                font-size: 6.1rem;
                // font-weight: 800;
                text-align: center;
                // background-color: red;
                margin-bottom: 2rem;
            }

            & > :last-child {
                margin-top: -1.5rem;
                font-size: 3.4rem;
                // font-weight: 300;
                text-align: center;
                
            }
        }

    }

}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}


footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: normal;
    height: 12rem;
    margin-bottom: 2rem;
    // opacity: 0.4;
    user-select: none;

    // &::before {
    //     content: '';
    //     // width: 1.7em;
    //     height: 2em;
    //     aspect-ratio: 2/1;
    //     // background-color: red;
    //     background-image: var(--logo);
    //     background-size: contain;
    //     background-position: left center;
    //     background-repeat: no-repeat;
    //     margin-right: 0.5em;
    //     transition: background-image var(--scheme-transition-duration);
    // }


    &::before {
        content: '';
        // width: 1.7em;
        height: 2em;
        aspect-ratio: 1/1;
        // background-color: red;
        background-image: url(../images/flf-logo.webp);
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        // margin-right: 0.5em;
        transition: background-image var(--scheme-transition-duration);
        filter: brightness(var(--logo-brightness));
    }
}


section {
    width: 100%;
    max-width: var(--font-size-break);
    padding: 2rem;
    margin-bottom: 2rem;
    // background-color: red;

    &:not(.calendar) > div {
        &::before {
            content: "";
            inset: 0;
            position: absolute;
            background-color: var(--bg-modal);
            z-index: -1;
            opacity: 0.7;
            transition: background-color var(--scheme-transition-duration);
        }
        position: relative;
		-webkit-box-shadow: var(--shadow);
		box-shadow: var(--shadow);
        padding: 2rem;
        font-size: 1.5rem;

        h3, p {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }

        h2 {
            font-size: 1.4em;
            font-weight: bold;
            width: fit-content;
            margin-inline: auto;
            margin-bottom: 1em;
            padding: 0.5em 2em;
            border-radius: 1.9em;
            background-color: var(--accent);
            color: var(--accent-contrast);

        }

        h3 {
            margin-top: 0.6em;
            font-size: 1.2em;
        }

        p {
            margin-top: 0.6em;
        }

        ul {
            margin-left: 2em;
            margin-right: 0.5em;
            list-style-type: square;

            li {
                margin-top: 0.5em;
            }
        }

    }

    &.upcoming {
        // position: relative;
        .pagination {
            position: absolute;
            // font-size: 1.4em;
            top: 2em;
            right: 2em;
            // transform: translate(-50%, -50%);
            // background-color: red;
            float: right;
            user-select: none;

            > span {
                vertical-align: middle;
            }

            > div {
                vertical-align: middle;
                display: inline-block;
                width: 2.2rem;
                aspect-ratio: 1/1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                cursor: pointer;
                transition:
                    transform 100ms,
                    background-image var(--scheme-transition-duration);

                &:not(.swiper-button-disabled):hover {
                    transform: scaleX(var(--scale-x)) scaleY(1.2);
                }
            }

            > div:first-child {
                --scale-x: -1.2;
                background-image: var(--nav);
                transform: scaleX(-1);
            }

            > div:last-child {
                --scale-x: 1.2;
                background-image: var(--nav);
            }

            .swiper-button-disabled {
                opacity: 0.35;
                pointer-events: none;
            }
        }
    }
}


a {
    color: var(--fg);
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(0deg, var(--bg-link), var(--bg-link));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 15%;
    transition-duration: 50ms;

    &:hover {
        transition-duration: 200ms;
        background-size: 100% 100%;
    }

    &[target="_blank"]::after {
        content: '';
        display: inline-block;
        width: 1em;
        aspect-ratio: 1/1;
        background-image: var(--link);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0.1em;
    }

    &[href*="mailto:"]::after {
        content: '';
        display: inline-block;
        width: 1em;
        aspect-ratio: 1/1;
        background-image: var(--mail);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0.1em;
    }
}


